    <header class="sticky top-0 z-50 w-full bg-white shadow-sm px-4 h-14">
        <div class="max-w-[100%] mx-auto flex items-center justify-between h-full">
            <div class="flex items-center gap-2 min-w-[300px]">
                <div class="text-fb-blue">
                    <a href="/">
                        <svg class="size-10" fill="currentColor" viewBox="0 0 36 36">
                            <path
                                    d="M20.181 35.89C29.094 34.791 36 27.197 36 18 36 8.059 27.941 0 18 0S0 8.059 0 18c0 8.513 5.913 15.644 13.875 17.373v-12.28h-4.462v-5.093h4.462v-3.877c0-4.404 2.623-6.84 6.642-6.84 1.924 0 3.93.344 3.93.344v4.32h-2.213c-2.181 0-2.86 1.355-2.86 2.744v3.309h4.87l-.779 5.093h-4.091v12.28z">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="relative group">
                        <span
                                class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-fb-gray-text !text-[20px]">search</span>
                    <input class="bg-[#F0F2F5] border-none rounded-full pl-10 pr-4 py-2 text-[15px] focus:ring-0 w-[240px]"
                           placeholder="Search" type="text"/>
                </div>
            </div>
            <div class="flex-1 hidden md:flex items-center justify-center h-full max-w-[680px]">
                <div class="flex items-center w-full h-full">
                    <a class="flex-1 h-full flex items-center justify-center {% if active_nav is defined and active_nav == 'home' %}nav-icon-active{% else %}text-fb-gray-text{% endif %} hover:bg-fb-hover rounded-lg transition-colors mx-1"
                       href="/">
                        <span class="material-symbols-outlined">home</span>
                    </a>
                    <a class="flex-1 h-full flex items-center justify-center {% if active_nav is defined and active_nav == 'characters' %}nav-icon-active{% else %}text-fb-gray-text{% endif %} hover:bg-fb-hover rounded-lg transition-colors mx-1"
                       href="/group">
                        <span class="material-symbols-outlined">groups</span>
                    </a>
                    <a class="flex-1 h-full flex items-center justify-center text-fb-gray-text hover:bg-fb-hover rounded-lg transition-colors mx-1"
                       href="#">
                        <span class="material-symbols-outlined">ondemand_video</span>
                    </a>
                    <a class="flex-1 h-full flex items-center justify-center text-fb-gray-text hover:bg-fb-hover rounded-lg transition-colors mx-1"
                       href="#">
                        <span class="material-symbols-outlined">storefront</span>
                    </a>
                    <a class="flex-1 h-full flex items-center justify-center text-fb-gray-text hover:bg-fb-hover rounded-lg transition-colors mx-1"
                       href="/character">
                        <span class="material-symbols-outlined">sports_esports</span>
                    </a>
                </div>
            </div>
            <div class="flex items-center gap-2 min-w-[300px] justify-end">
                <div class="flex items-center gap-2">
                    <button
                            class="size-10 rounded-full bg-[#E4E6EB] flex items-center justify-center hover:bg-[#D8DADF]">
                        <span class="material-symbols-outlined !text-[20px]">apps</span>
                    </button>
                    <button
                            class="size-10 rounded-full bg-[#E4E6EB] flex items-center justify-center hover:bg-[#D8DADF]">
                            <span
                                    class="material-symbols-outlined !text-[20px]">chat_bubble</span>
                    </button>
                    <button
                            class="size-10 rounded-full bg-[#E4E6EB] flex items-center justify-center hover:bg-[#D8DADF] relative">
                            <span
                                    class="material-symbols-outlined !text-[20px]">notifications</span>
                        <span
                                class="absolute -top-1 -right-1 size-5 bg-[#E41E3F] text-white text-[11px] font-bold rounded-full flex items-center justify-center">3</span>
                    </button>

                    <div class="size-10 rounded-full bg-cover bg-center cursor-pointer ml-1"
                         style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuA-Xm9lgA5v0jrawnFlL5-BnVIf9cGcnqMgb74GP5AvQUaxNOC2VlSIBePe7SnrZmobPfc9dQyb9ZjasZmvGvR9Ae0i3fmBQTiKUKY4BXloOipwi684ATsjDTyKxKlK79pLLcCUQv_EFNK7D4OwDh0JBJYCdZvVkfSnq6vPT17XedYad9SbE6tct5dt2BANas7S2HZMCfPcNUpJ_dpTH_3QdlbWGF8bhnr60d33l_ix-ENAl1o2Ixut3a8rD8lN88Z_SGEcFH7RBSRD');">
                    </div>
                </div>
            </div>
        </div>
    </header>
