(
    data_dir: "/tmp",
    db: (
        sqlite: (
            db_path: "db/social-novel.sqlite",
        ),
    ),
    listen_addr: "0.0.0.0",
    listen_port: 6969,
    api: (
        per_page: 20,
    ),
    parallel: 8,
)