<!DOCTYPE html>
<html lang="en">
<head>
    {% include "include/header.gohtml" %}
    <title>Social Novel</title>
</head>
<body>

{% include "include/dashboard.gohtml" %}

<form action="/" method="post" enctype="multipart/form-data">
    <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text" name="character" id="character" autocomplete="character" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="character">
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text" name="feeling" id="feeling" autocomplete="feeling" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="feeling">
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text" name="is_with" id="is_with" autocomplete="is_with" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="is_with">
                        </div>
                    </div>
                </div>

                <div class="col-span-full">
                    <label for="about" class="block text-sm font-medium leading-6 text-gray-900">About</label>
                    <div class="mt-2">
                        <textarea id="content" name="content" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                </div>

                <div class="col-span-full">
                    <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                        <div class="text-center">
                            <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                            </svg>
                            <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                <label for="avatar" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                    <span>Upload a file</span>
                                    <input id="avatar" name="avatar" type="file" class="sr-only">
                                </label>
                                <p class="pl-1">or drag and drop</p>
                            </div>
                            <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
        <!--        <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>-->
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button>
    </div>
</form>

<div class="w-3/5">
    <div class="bg-white shadow">
        {% for post in posts %}
        <div class="bg-white shadow mt-4 p-3 pb-0 relative">
            <div class="flex items-center">
                <div>
                    <img alt="{{post.username}}" class="w-10 h-10 rounded-full" src="/img/avatar/{{post.username}}.png">
                </div>

                <div class="ml-2">
                    <h5>
                        <a class="text-blue-800 no-underline hover:underline" href="#">
                            {{post.name}}
                        </a>

                        <span class="text-sm text-gray-600">
                            {% if post.feeling != '' %}
                            is feeling <a class="text-blue-800 no-underline hover:underline"
                                          href="#">{{post.feeling}}</a>
                            {% endif %}

                            {% if post.is_with != '' %}
                            with
                            <a class="text-blue-800 no-underline hover:underline" href="#">
                                {{post.is_with}}
                            </a>
                            {% endif %}
                        </span>
                    </h5>
                    <p class="text-xs font-normal text-gray-500 mt-1">
                    <span class="cursor-pointer hover:underline">
                        {{post.created_at}}
                    </span>
                        ·
                    </p>
                </div>
            </div>

            <h5>
                {{post.content}}
            </h5>

            {% if post.media != '' %}
            <img alt="{{post.media}}" src="/img/post/{{post.media}}">
            {% endif %}

            <div>{{post.reaction}} people liked this</div>
            <div>
                Like
                Comment
                Share
            </div>

            <div>
                {% for comment in post.comments %}
                <img alt="{{comment.username}}" src="/img/avatar/{{comment.username}}.png">
                {{comment.name}}
                <span>
                            {{comment.content}}
                        </span>
                {% if comment.media != '' %}
                <img alt="{{content.media}}" src="/img/post/{{content.media}}">
                {% endif %}
                <div>{{comment.reaction}} people liked this</div>

                <div>
                    {% for comment2 in comment.comments %}
                    <img alt="{{comment2.username}}" src="/img/avatar/{{comment2.username}}.png">
                    {{comment2.name}}
                    <span>
                                {{comment2.content}}
                            </span>
                    {% if comment2.media != '' %}
                    <img alt="{{comment2.media}}" src="/img/post/{{comment2.media}}">
                    {% endif %}
                    <div>{{comment.reaction}} people liked this</div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

        </div>
        {% endfor %}
    </div>
</div>


<!--dashboard close tag-->
</div>
</main>
</div>

</body>
</html>